.container.dog-image-report
  .col-md-12.fat-border.top-margin-20.white-bg
    %h1.text-center PAWs Report
    .status.row
      .col-md-6
        =image_tag @doggie.image,
                   class: "img-responsive center-block top-padding-20 bottom-padding-20",
                   alt: "dog placeholder"
      .col-md-6
        -if @doggie.breeds.first
          %h3= "Breed: #{@doggie.breeds.first.name}"
        -else
          %h3= "Breed was unknown"
        %h3= "PAWs was #{@doggie.result}"
    %hr/
    .statistics
      .row
        -if @doggie.breeds.first
          %h3.text-center= "PAWs Accuracy for #{@doggie.breeds.first.name}s: #{format_percentage(@doggie.breeds.first.analyzer_accuracy)}%"
      .row
        .text-center.col-md-6
          %h3 Top breeds analyzed by PAWs
          %canvas#fun{width:"600",height:"400"}
        .text-center.col-md-6
          %h3 Top breeds photographed by the Dogist
          %canvas#dogist-hist{width:"600",height:"400"}

      .row#top-breeds-analyzed
        .text-center.col-md-6
          - @top_breeds.each do |breed|
            %li= "#{breed.name} -- Count: #{breed.image_count}"
        .text-center.col-md-6
